/* ====mobile formatting start==== */
@media only screen and (max-width: 768px) {
    .carousel-content-container {
        background-color: lightgrey;
        display: flex;
        flex-direction: column;
    }

    #ratings-container {
        display: flex;
        flex-direction: column;
    }

    #ratings-title {
        font-weight: bolder;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    #stars-container {
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
    }

    #stars {
        width: 50%;
    }

    .carousel {
        height: 325px;
    }

    .carousel-text-container {
        /* border: 1px solid red; */
        margin-top: 20px;
        padding: 0 35px 0 35px;
    }

    .carousel-title {
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        font-weight: bold;
        color: purple;
    }
}

/* ====mobile formatting end==== */


@media only screen and (min-width: 768px) {
    
}
