/* ====mobile formatting start==== */
@media only screen and (max-width: 768px) {
    .rock-container {
        display: flex;
        flex-direction: column;
    }

    #rock-img-container {
        background-size: cover;
        background-position: center;
        min-height: 25vh;
        position: relative;
    }
    
    #rock-img {
        background-size: cover;
        background-position: center;
        height: auto;
        width: 100%;
        position: relative;
    }
    
    #rock-text-container {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        padding: 0 5% 0 5%;
    }
    
    #rock-text-title {
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        color: purple;
        font-weight: bolder;
        font-size: 2rem;
        margin: 3% 0 3% 0;
    }

    input {
        display: none;
    }
    
    #rock-accordion-label {
        color: purple;
        font-weight: bold;
        position: relative;
        padding: 5px 5px 5px 20px;
    }
    
    #rock-accordion-label:before {
        content: " ";
        border-width: 6px;
        border-style: solid;
        border-color: transparent transparent transparent purple;
        height: 0;
        font-size: 0;
        position: absolute;
        top: 33%;
        left: 5%;
        transition: transform 0.5s;
        transform-origin: 3px center;
    }

    input:checked ~ label:before {
        transform: rotate(90deg)
    }

    #accordion-text {
        display: none;
    }

    input:checked ~ #accordion-text {
        display: block;
    }
    
}

/* ====mobile formatting end==== */


/* media screen min 768 start */
@media only screen and (min-width: 768px) {
    .rock-container {
        display: flex;
        flex-direction: row-reverse;
    }

    #rock-img-container {
        width: 50%;
        display: flex;
        box-sizing: border-box;
    }
    
    #rock-img {
        display: flex;
        background-size: cover;
        background-position: center;
        width: 100vh;
        height: 70vh;
    }
    
    #rock-text-container {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        padding: 200px 50px 0 250px; 
    }
    
    #rock-text-title {
        /* border: 1px solid red; */
        display: flex;
        justify-content: center;
        color: purple;
        font-weight: bolder;
        font-size: 6rem;
        margin: 3% 0 3% 0;
    }

    #rock-text {
        font-size: 2rem;
    }

    input {
        display: none;
    }
    
    #rock-accordion-label {
        color: purple;
        font-weight: bold;
        position: relative;
        padding: 5px 5px 5px 20px;
        font-size: 2rem;
    }
    
    #rock-accordion-label:before {
        content: " ";
        border-width: 8px;
        border-style: solid;
        border-color: transparent transparent transparent purple;
        height: 0;
        font-size: 0;
        position: absolute;
        top: 35%;
        left: 5%;
        margin-right: 5px;
        transition: transform 0.5s;
        transform-origin: 1px center;
    }

    input:checked ~ label:before {
        transform: rotate(90deg)
    }

    #accordion-text {
        display: none;
        font-size: 2rem;
    }

    input:checked ~ #accordion-text {
        /* border: 1px solid red; */
        display: block;
        transition-delay: 0.5s;
    }
}
/* media screen min 768 end */
